/* paleta de colore:
    #780000
    #C1121F
    #FDF0D5
    #003049
    #669BBC
 */
.card{    
    color: white;
}
.info{
    background-color: #780000;
}
.btn{
    border-color: #780000;
}
.link_button :hover{
    background-color: #C1121F;    
}